$height-header--mobile: 1.4rem;
$padding-header--mobile: 1.3rem;
$width-header--primary-desktop: 14rem;

* {
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

main {
    height: calc(100vh - (#{$height-header--mobile} + #{$padding-header--mobile}*2));
    display: flex;

    article {
        width: 100vw;
    }

    .header--primary-desktop {
        display: none;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (min-width: 930px) {
    main {
        article {
            width: calc(100vw - #{$width-header--primary-desktop});
        }

        .header--primary-desktop {
            width: #{$width-header--primary-desktop};
            display:flex;
        }
    }
}

.background-img {
    width: inherit;
    padding-top: #{$height-header--mobile};
    height: calc(100vh - #{$height-header--mobile});
    position: absolute;
    z-index: -1;
    top: 0;
    background-image: url('img/cover-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 930px) {
    .background-img {
        padding-top: 0;
        height: 100vh;
    }
}

.content {
    &.home {
        margin-top: 8rem;
        margin-left: 3rem;
        color: white;
        max-width: 430px;
    }
}

@media screen and (min-width: 930px) {
    .content {
        &.home {
            margin-top: 10rem;
            margin-left: 5rem;
            max-width: 430px;
        }
    }
}


.header--mobile {
    background-color: white;
    height: #{$height-header--mobile};
    padding: #{$padding-header--mobile};
    nav {
        display: flex;
        justify-content: space-between;
        align-items:center
    }
}

@media screen and (min-width: 930px) {
    .header--mobile {
        display: none;
    }
}

.header--primary-mobile {
    position:fixed;
    background-color: white;
    top: 0;
    bottom:0;

    & > nav {
        display: flex;
        padding: 1.45rem 1.5rem;
        align-items: center;
    }

    & > section {
        padding: 0 1.5rem 1.5rem 1.5rem;
    }
}

@media screen and (min-width: 930px) {
    .header--primary-mobile {
        display: none;
    }
}

.icon {
    width: 25px;
    height: 25px;
    margin: 0 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;

    &:hover {
        background-color: black;
        color: white;
    }

    &:first {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.logo {
    margin-top: 3rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.menu {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: black;
    }

    &.menu--primary {
        text-align: center;
    }

    &.menu--social {
        text-align: center;
        margin-top: auto;
        ul {
            display: flex;
            justify-content: center;

            margin-bottom: 0.5rem;
        }
    }
}

// ----------
// Modifiers
// ----------

// Margin
$total-margin-steps: 10;
@for $i from 1 through $total-margin-steps {
    .mb-#{$i} {
        margin-bottom: $i * 0.25rem;
    }
}

$total-padding-steps: 10;
@for $i from 1 through $total-padding-steps {
    .p-#{$i} {
        padding: $i * 0.25rem;
    }

    .pl-#{$i} {
        padding-left: $i * 0.25rem;
    }
}

// Fonts
.small {
    font-size: 80%;
    font-weight: 400;
}

.title {
    font-size: 2.5rem;
}

.color-white {
    color: white;
}

.mobile-only {
    display: initial;
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 930px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: initial;
    }

    .title {
        font-size: 2.9rem;
    }
}
