* {
  font-family: 'Lato', sans-serif; }

body {
  height: 100vh;
  display: flex; }
  body > * {
    padding: 2em; }

header {
  width: 15%;
  align-items: center;
  display: flex;
  flex-direction: column; }
  header .logo {
    width: 175px;
    height: 175px;
    border-radius: 50%; }

.nav ul {
  padding: 0;
  margin: 0; }

.nav li {
  list-style-type: none; }

.nav a {
  text-decoration: none;
  color: black; }

.nav.nav--type-main {
  text-align: center; }

.nav.nav--type-social {
  text-align: center;
  margin-top: auto; }
  .nav.nav--type-social ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem; }

.icon {
  width: 25px;
  height: 25px;
  margin: 0 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none !important;
  color: inherit; }
  .icon:hover {
    background-color: black;
    color: white; }
  .icon:first {
    margin-left: 0; }
  .icon:last-child {
    margin-right: 0; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mb-3 {
  margin-bottom: 0.75rem; }

.mb-4 {
  margin-bottom: 1rem; }

.mb-5 {
  margin-bottom: 1.25rem; }

.mb-6 {
  margin-bottom: 1.5rem; }

.mb-7 {
  margin-bottom: 1.75rem; }

.mb-8 {
  margin-bottom: 2rem; }

.mb-9 {
  margin-bottom: 2.25rem; }

.mb-10 {
  margin-bottom: 2.5rem; }

.small {
  font-size: 80%;
  font-weight: 400; }
