{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <app-root></app-root>
  <script type="text/javascript" src="{% static 'hello.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/angular/polyfills-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/angular/styles-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/angular/vendor-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/angular/runtime-es5.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/angular/main-es5.js' %}"></script></body>
</body>
</html>
