{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/">Hyungmo Gu</a>
                    <div class="justify-content-end">
                        <ul class="nav">
                            <li class="nav-item"><a href="/">Home</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            {% block body_content %}{% endblock %}
        </main>
    </body>
</html>