body {
    min-height: 75rem;
    padding-top: 3.5rem;
}

.img-portfolio {
    height: 200px;
    object-fit: cover;
}

.img-portfolio-detail {
    height: 200px;
    object-fit: contain;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

.icon:hover {
    background-color: black;
    color: white;
}

.icon:first {
    margin-left: 0;
}

.icon:last-child {
    margin-right: 0;
}