{% extends 'layout.html' %}
{% block body_content %}
    <div class="content content-contacts">
        <header class="header--secondary p-6">
            <h2>Contacts</h2>
        </header>
        <div class="ml-4 mr-4">
            <article class="p-6">
                <div class="messages mb-8">
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                {% if 'email' in message.tags %}
                                <li class="small">{{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <h3>Hire Moe!</h3>
                <form method="POST" action="{% url 'api:email' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="small" for="form--contact-name">Name</label>
                        <input id="form--contact-name" name="name">
                    </div>
                    <div class="form-group">
                        <label class="small" for="form--contact-email">Email</label>
                        <input id="form--contact-email" name="email" type="email">
                    </div>
                    <div class="form-group">
                        <label class="small" for="form--contact-message">Message</label>
                        <textarea id="form--contact-message" rows="10" name="message"></textarea>
                    </div>
                    <button class="btn btn--primary" type="submit">Send Email</button>
                </form>
            </article>
            <aside class="p-6">
                <h3>Social Media</h3>
                <nav class="menu small">
                    <ul>
                        <li class="mb-2"><a href="https://www.linkedin.com/in/hyungmo-gu/">LinkedIn</a></li>
                        <li><a href="#">Github</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
{% endblock %}