{% extends 'layout.html' %}
{% load static %}

{% block body_content %}
    <div class="content content-home">
        <div class="background-img" style="background-image: url({% static 'img/cover-page.jpg' %})"></div>
        <article class="article--home">
            <section class="mb-8">
                <h1 class="title">Hello,</h1>
                <h1>Welcome to the portfolio site of Hyungmo Gu</h1>
                <strong>A Calgary based software developer who loves to learn, create new app, and push codes to github with his love</strong>
            </section>
        </article>
    </div>
{% endblock %}