{% extends 'layout.html' %}

{% block body_content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light" style="min-height: 300px;">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <div>
                    <h2>{{ project.title }}</h2>
                    <p>
                        {{ project.summary }}
                    </p>
                    <div>
                        {% if project.url_demo %}
                            <a href="{{ project.url_demo }}" class="btn btn-primary">See Demo</a>
                        {% endif %}
                        {% if project.url_source_code %}
                            <a href="{{ project.url_source_code }}" class="btn btn-outline-secondary">Source Code</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-portfolio-detail card-img-top m-3" src="{{ project.image_main|default_if_none:'http://via.placeholder.com/350x200' }}" alt="{{ project.title }}">
            </div>
        </div>
    </div>

    <div class="container">
        {% if project.tools_used %}
            <section class="row mb-3">
                <div class="col">
                    <h3>Tools Used</h3>
                    <div>
                        {{ project.tools_used|safe }}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if project.challenges %}
            <section class="row mb-3">
                <div class="col">
                    <h3>Challenges</h3>
                    <div>
                        {{ project.challenges|safe }}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if project.result %}
            <section class="row mb-3">
                <div class="col">
                    <h3>Result</h3>
                    <div>
                        {{ project.result|safe }}
                    </div>
                </div>
            </section>
        {% endif %}

        <section class="row mb-3">
            <div class="col text-center">
                {% if project.url_demo %}
                    <a href="{{ project.url_demo }}" class="btn btn-primary">See Demo</a>
                {% endif %}
                {% if project.url_source_code %}
                    <a href="{{ project.url_source_code }}" class="btn btn-outline-secondary">Source Code</a>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}