{% extends 'layout.html' %}
{% load static %}

{% block body_content %}
    <div class="content content-works">
        <header class="header--secondary p-6">
            <h2>Works</h2>
        </header>
        <div>
            <article>
                {% for work in works %}
                    <a class="thumbnail" href="{% url 'works_detail' %}">
                        <img src="{{ work.image_main|default_if_none:'http://via.placeholder.com/350x200' }}" alt="{{ project.title }}">
                        <div>
                            <div class="small">{{ work.date_created | date:'N jS, Y' }}</div>
                            <h4>{{ work.title }}</h4>
                        </div>
                    </a>
                {% endfor %}
            </article>
        </div>
    </div>
{% endblock %}
