{% extends 'layout.html' %}
{% load static %}

{% block body_content %}
    <div class="content content-works">
        <header class="header--secondary p-6">
            <h2>Works</h2>
        </header>
        <div>
            <article>
                <a class="thumbnail" href="works_detail.html">
                    <img src="http://placehold.it/200x200">
                    <div>
                        <div class="small">August 21st, 2019</div>
                        <h4>Title</h4>
                    </div>
                </a>
                <a class="thumbnail" href="works_detail.html">
                    <img src="http://placehold.it/200x200">
                    <div>
                        <div class="small">August 21st, 2019</div>
                        <h4>Title</h4>
                    </div>
                </a>
                <a class="thumbnail" href="works_detail.html">
                    <img src="http://placehold.it/200x200">
                    <div>
                        <div class="small">August 21st, 2019</div>
                        <h4>Title</h4>
                    </div>
                </a>
                <a class="thumbnail" href="works_detail.html">
                    <img src="http://placehold.it/200x200">
                    <div>
                        <div class="small">August 21st, 2019</div>
                        <h4>Title</h4>
                    </div>
                </a>
            </article>
        </div>
    </div>
{% endblock %}
