{% extends 'layout.html' %}
{% load static %}

{% block body_content %}
    <div class="content content-works">
        <header class="header--secondary p-6">
            <h2>Works</h2>
        </header>
        <div>
            <article>
                {% for project in projects %}
                    <a class="thumbnail" href="{% url 'works_detail' pk=project.pk  %}">
                        <div>
                            <img src="{{ project.image_main|default_if_none:'http://via.placeholder.com/350x200' }}" alt="{{ project.title }}">
                            <div>
                                <div class="small">{{ project.date_created | date:'N jS, Y' }}</div>
                                <h4>{{ project.title }}</h4>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </article>
        </div>
    </div>
{% endblock %}
